/* .mermaid svg {
  max-width: 100%;
  height: auto;
}

.scale1000 .mermaid:hover svg {
        max-width: 1000%
}

.scale500 .mermaid:hover svg {
        max-width: 500%
}

.scale250 .mermaid:hover svg {
        max-width: 250%
}
*/

.twemoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.site-footer {
  background-color: #f0f0f0a4; /* Un gris claro */
  padding: 1.5em 0;
  text-align: center;
  font-size: 16px;
  color: #555; /* Un color de texto oscuro */
}

.texto-justificado {
  text-align: justify;
}